<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tst.aidlserver">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Serveices">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <data
                    android:host= "MainActivity"
                    android:scheme="com.learn.alias.target"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyService">
            <intent-filter>
                <action android:name="com.example.servicetest.MyAIDLService"/>
            </intent-filter>
        </service>

    </application>

</manifest>


<!--
cspf

    rfk
    1. rqs & flow/framework & key point then copy details; open-book;
    aidl => interface define

rqs:
    client ->server.plus(a,b)

flow：
    1.server
        a. interfaceX  // declare;
        b. extends service impl interfaceX.stub [Binder, InterfaceX]  // define, onBind
        c. register on manifest; // register

    2.client
        a. server.interfaceX   // define // pkg+clsX
        b. bindService(intent, serviceConnection);  //
        c. interfaceX objX= InterfaceX.stub.asInterface()
        d. objX.plus()
-->